
header
{
    color: #FFF;
    position: relative;
   background: #060728;
    
}

 *
{
    font-family: 'Arvo', serif; 
   color: #FFF;
}

img
{
    padding: 10px;
}

div img
{
    float: left;
}



.info_perso
{
    
    position: relative;
}

div.info_perso
{
   
  margin-left: 255px;
}

h3.exp
{
    color: #FFF;
    background: #060728;
    font-size: 20px;
    height: 25px;
    width: 150px;
    padding: 10px;
}

h3.exp:hover
{
    color: #FFF;
    background: #000344;
    font-size: 20px;
    height: 25px;
    width: 150px;
    padding: 10px;
}

h3.formation
{
    color: #FFF;
    background: #060728;
    font-size: 20px;
    height: 25px;
    width: 150px;
    padding: 10px;
}

h3.formation:hover
{
    color: #FFF;
    background: #000344;
    font-size: 20px;
    height: 25px;
    width: 150px;
    padding: 10px;
}

h3.loisirs
{
    color: #FFF;
    background: #060728;
    font-size: 20px;
    height: 25px;
    width: 150px;
    padding: 10px;
}

h3.loisirs:hover
{
    color: #FFF;
    background: #000344;
    font-size: 20px;
    height: 25px;
    width: 150px;
    padding: 10px;
}

aside
{
    margin: 10px;
    float: left;
    margin-bottom: 20px;
}

.competences
{
    list-style: none;
    padding-left: 200px;
    position: relative;

}



div.competences
{
    padding-left: 200px;
    padding-top: 150px; 
}

h3.competences
{
   color: #FFF;
    background: #060728;
    font-size: 20px;
    height: 25px;
    width: 270px;
    padding: 10px;  
}

h3.competences:hover
{
   color: #FFF;
    background: #000344;
    font-size: 20px;
    height: 25px;
    width: 270px;
    padding: 10px;  
}


p.competences
{
    padding-left: 0px;
}


footer {
    padding: 15px 0;
    background: #060728;
    float: inherit;
    clear: both;
    margin: 0;
}

footer p {
    color: #FFF;
    font-size: 14px;
    text-align: center;
}

#CV
{
    background-image: url(../img/back-test.jpg);
    background-position: top;
    
    
}