
header
{
    color: #FFF;
    position: relative;
   background: #060728;
    
}

 *
{
    font-family: 'Arvo', serif; 
   color: #FFF;
}



img
{
    padding: 10px;
}

div img
{
    float: left;
}

#mail
{
    padding-right: 10px;
}

#phone
{
    padding-right: 10px;
}

#adresse
{
    padding-right: 10px;
}

#car
{
    padding-right: 10px;
}

#ville
{
    padding-right: 10px;
}

.info_perso
{  
    position: relative;
    margin: 10px;
}

div.info_perso
{
   
  margin-left: 255px;
}

h3.exp
{
    color: #FFF;
    
    font-size: 30px;
    height: 25px;
    width: 300px;
    padding: 10px;
}


h3.formation
{
    color: #FFF;
   
    font-size: 30px;
    height: 25px;
    width: 300px;
    padding: 10px;
}



h3.loisirs
{
    color: #FFF;
   
    font-size: 30px;
    height: 25px;
    width: 300px;
    padding: 10px;
}



aside
{
    margin: 10px;
    float: left;
    margin-bottom: 20px;
}

.competences
{
    list-style: none;
    padding-left: 200px;
    position: relative;

}



div.competences
{
    padding-left: 200px;
    padding-top: 150px; 
}

h3.competences
{
   color: #FFF;
    font-size: 40px;
    height: 25px;
    width: 700px;
    padding: 10px;  
}




p.competences
{
    padding-left: 0px;
}


footer {
    padding: 15px 0;
    background: #060728;
    float: inherit;
    clear: both;
    margin: 0;
}

footer p {
    color: #FFF;
    font-size: 14px;
    text-align: center;
}

#CV
{
    background-image: url(../img/back-test.jpg);
    background-position: top;
    
    
}